---
import type { BulletGroup } from "../types/content";

interface Props {
  groups: BulletGroup[];
}

const { groups } = Astro.props;
---

<div class="bullet-groups">
  {groups.map((group) => (
    <section>
      {group.title && <h3>{group.title}</h3>}
      <ul>
        {group.items.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </section>
  ))}
</div>
