---
import InlineRichText from "./InlineRichText.astro";
import type { ConfigItem } from "../types/content";

interface Props {
  items: ConfigItem[];
}

const { items } = Astro.props;
---

<dl class="config-list">
  {items.map((item) => (
    <div class="config-row">
      <dt>{item.label}</dt>
      <dd>
        <strong><InlineRichText content={item.value} /></strong>
        {item.detail && <span><InlineRichText content={item.detail} /></span>}
      </dd>
    </div>
  ))}
</dl>
