---
import InlineRichText from "./InlineRichText.astro";
import type { InlineContent } from "../types/content";

interface Props {
  intro: InlineContent;
}

const { intro } = Astro.props;
---

<section class="shell page-intro">
  <p><InlineRichText content={intro} /></p>
</section>
